.currency-box
{
  .currencyImg
  {
    img
    {
      width:40px;
      height:40px;
      @include media(max, sm) {
        width:30px;
        height:30px;
      }
    }

  }
}
.listRate {
  margin-top: 45px;
  background: #fff;
  > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 20px;
    &:nth-child(2n)
    {
      background: #F6F6F6;
      border: 1px solid #FBFBFB;
      box-sizing: border-box;
    }
    > div {
      flex: 1;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #282828;
      @include media(max, sm) {
        font-size: 14px;
        flex:inherit;
      }
      &.rateName {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #2F2483;
        @include media(max, sm) {
          font-size: 14px;
        }
      }
      &.rateModal
      {
        @include media(max, sm) {
          text-align: center;
          width:30px;
        }
        button
        {
          border: 2px solid #FFC244;
          box-sizing: border-box;
          border-radius: 5px;
          width:100%;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          height: 40px;
          color: #2F2483;
          background: transparent;
          transition: all 0.3s;
          @include media(max, sm) {
            display: inline-block;
            width: 30px;
            height: 30px;
          }
          &:hover
          {
            background: #FFC244;
          }
        }


      }

    }
    &.rateItemsTitle > div {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #878787;
      @include media(max, sm) {
        font-size: 14px;
      }
      &.rateNameTitle
      {
        @include media(max, sm) {
          width: 61px;
        }
      }
      &.rateBuyTitle
      {
        @include media(max, sm) {
          width: 45px;
        }
      }
      &.rateSaleTitle
      {
        @include media(max, sm) {
          width: 45px;
        }
      }
      &.rateModalTitle
      {
        @include media(max, sm) {
          width: 30px;
        }
      }
    }
  }
}