input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
@keyframes ldio-cuoiwrivni7 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-cuoiwrivni7 div {
  left: 69.84px;
  top: 41.04px;
  position: absolute;
  animation: ldio-cuoiwrivni7 linear 1s infinite;
  background: #2f2483;
  width: 4.32px;
  height: 18.72px;
  border-radius: 2.16px / 2.4335999999999998px;
  transform-origin: 2.16px 30.959999999999997px;
}
.ldio-cuoiwrivni7 div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -0.9090909090909091s;
   background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.8181818181818182s;
  background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(3) {
   transform: rotate(65.45454545454545deg);
   animation-delay: -0.7272727272727273s;
   background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.6363636363636364s;
  background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(5) {
   transform: rotate(130.9090909090909deg);
   animation-delay: -0.5454545454545454s;
   background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.45454545454545453s;
  background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(7) {
 transform: rotate(196.36363636363637deg);
 animation-delay: -0.36363636363636365s;
 background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.2727272727272727s;
  background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(9) {
 transform: rotate(261.8181818181818deg);
 animation-delay: -0.18181818181818182s;
 background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.09090909090909091s;
  background: #2f2483;
}
.ldio-cuoiwrivni7 div:nth-child(11) {
   transform: rotate(327.27272727272725deg);
   animation-delay: 0s;
   background: #2f2483;
 }
.loadingio-spinner-spinner-a5somt2npz {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position:absolute;
  left: 0;
  top:0;
  background: rgba(255,255,255,0.9);
  z-index: 10;

}
.ldio-cuoiwrivni7 {
  width: 144px;
  height: 144px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cuoiwrivni7 div { box-sizing: content-box; }
.wrap-select-option
{
  position: relative;
}


.mainTitle
{
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 61px;
/* identical to box height */
  color: #2F2483;
  text-align: center;
  margin: 30px 0;
  .yellowText
  {
    color: #FFC244;
  }
}
.wrap-content-banners {
  height: 100%;
  margin-bottom: 25px;
  position: relative;
  .item-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    picture {
      overflow: hidden;
      max-height: 315px;
    }
    img {
      object-fit: contain;
    }
  }
  .wrap-descript-content-banner {
    position: static;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    button.button {
      margin-top: 20px;
    }
  }
  .subtitle-content-banner, .title-content-banner { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .title-content-banner {
    max-width: 460px;
    width: 100%;
    color: $primaryColor;
    font-size: 28px;
    font-weight: 700;
  }
  .subtitle-content-banner {
    font-family: $secondaryFont;
    font-size: 16px;
    line-height: 24px;
    max-width: 460px;
    padding-top: 10px;
  }
  @media (min-width: $containerWidthLaptop) {
    margin-bottom: 0;
    height: 100vh;
    .item-banner {
      height: 100vh;
      picture {
        max-height: none;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 100%;
        width: auto;
      }
    }
    .wrap-descript-content-banner {
      position: absolute;
      left: 50%;
      top: 47%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 1000px;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      button.button {
        margin-top: 20px;
      }
    }
    .subtitle-content-banner, .title-content-banner { 
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }
    .title-content-banner {
      font-size: 40px;
    }
    .subtitle-content-banner {
      font-size: 20px;
      line-height: 28px;
      padding-top: 10px;
    }
  }
  .item-banner.hide-banner-cont {
    .title-content-banner {
     visibility: hidden;

    }
    .subtitle-content-banner {
      visibility: hidden;
    }
    button.button {
      visibility: hidden;
    }
  }
}

.icon-bg-line {
  display: none;
  @media (min-width: $containerWidthLaptop) {
    .icon-bg-line {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 35%;
      transform: translate(0, -50%);
      &::before {
        color: $primaryColor;
        font-size: 80px;
      }
    }
  }
}

.review-submission {
  margin-bottom: 10px;
  .review-wrap-section {
    position: relative;
  }
  &.small-slide-section {
    .title {
      position: static;
      max-width: none;
    }
  }
  .el-review {
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $secondaryFont;
    span {
      margin-top: 30px;
      color: $fourthColor;
    }
  }
  button.button {
    margin-top: 25px;
  }
  &.small-slide-section .slick-track {
    padding-bottom: 0;
  }
  .icon-bg-line {
    display: none;
  }

  @media (min-width: $containerWidthLaptop) {
    margin-top: 50px;
    margin-bottom: 60px;
    .control-slide {
      display: flex;
      flex-direction: row;
    }
    .icon-bg-line {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 35%;
      transform: translate(0, -50%);
      &::before {
        color: $primaryColor;
        font-size: 80px;
      }
    }
    .init-review-slide {
      margin-top: 50px;
      max-width: 1065px;
      margin-left: auto;
    }
    &.small-slide-section {
      .slick-track {
        height: auto;
      }
      .slick-list {
        width: 100%;
        padding-right: 0;
        overflow: hidden;
      }
      .slick__nav {
        bottom: 15px;
      }
      .slider-progress {
        max-width: 265px;
      }
    }
    .interface-widget {
      bottom: -13px !important;
      .arrow-list {
        position: absolute;
        top: -245px;
        right: -267px;
      }
    }
  }
}

// ---------- desc L ---------------
.contentWrapper {
  @media (min-width: $containerWidthDesktopL) {
    .wrap-content-banners { 
      // .arrow-banners { 
      //   bottom: 105px;
      // }
      .wrap-descript-content-banner {
        max-width: 1140px;
      }
      .title-content-banner {
        max-width: 560px;
      }
      
    }
  }
}

// ---------- desc XL ---------------
.contentWrapper {
  .page {
    @media (min-width: $containerWidthDesktopXL) {
      .wrap-content-banners { 
        .wrap-descript-content-banner {
          button.button {
            margin-top: 32px;
          }
        }
        .subtitle-content-banner {
          padding-top: 25px;
        }
        // .arrow-banners { 
        //   bottom: 150px;
        // }
        .title-content-banner {
          font-size: 56px;
        }
      }
    }
  }
}

.telegram-section
{
  margin-top: 45px;
  .telegramBlock
  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0088CC;
    background-image: url(/images/telegramBg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 29px 54px;
    .telegram-main-title
    {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 52px;

      color: #FFFFFF;
    }
    .telegram-sub-title
    {
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      margin-top: 15px;
      color: #FFFFFF;
    }
    .telegram-link-block
    {
      a
      {
        width: 330px;
        height: 65px;
        background: #FFC244;
        border-radius: 3px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #2F2483;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        img
        {
          max-height: 100%;
          margin-right: 10px;
          width: auto;
        }
      }
    }
  }
}
.services-section {
  position: relative;
  .advantages-item-wrapper {
    align-items: center;
    justify-content: space-between;
  }
  .control-slide, .interface-widget {
    position: relative;
  }
  .itself-slider {
    width: 100%;
    margin: auto;
  }
  .wrap-slide-item {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    .icon-bg-line {
      display: none;
    }
  }

  .elem-card {
    margin: 0;
    height: 345px;
    transition: 0.2s ease opacity;
    width: 285px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    .elem-title
    {
      margin: 16px 20px;
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #282828;
    }
    .link-news
    {
      margin: 56px 16px 0;
      border: 2px solid #FFC244;
      box-sizing: border-box;
      border-radius: 5px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #2F2483;
      display:flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      transition: all 0.3s;
      width: 180px;
      height: 40px;
      &:hover {
        background: #FFC244;
      }
    }
  }

  .interface-widget {
    margin-top: 10px;
    .arrow-list {
      margin: 0;
    }
  }

  .ref-all-card {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    a {
      background-color: $primaryColor;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 165px;
      border-radius: 3px;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }

  }
  @media (max-width: $containerWidthSmailler) {
    .elem-card
    {
      margin: 0;
      height: 405px;
      transition: 0.2s ease opacity;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
      margin-bottom: 25px;
    }
  }
}